.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 3em;
  }
}
.title{
  font-family: sans-serif; 
  color: #fff;
  margin-top: 10px;
}
.App-header {
  background-color: #282c34;

  /* Gradient */
  background: #403A3E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* Gradient end */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.582);
}

.App-link {
  color: #0f2d35;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(1000deg);
  }
}
